/*-----------------------------------------------------------------*/
/*	General
/*-----------------------------------------------------------------*/

#about, #services {
	max-width: 960px;
	margin-left: auto; margin-right: auto;
	overflow: hidden;
}

#services main .content {
	padding-bottom: 3.25rem;
}

#about header,
#services header {
	padding: 4rem 0;
}

#about header h2, #about header p, #about header .button.open,
#services header h3, #services header p, #services header .button.open {
	margin-left: 4rem; margin-right: 25%;
}

#about header figure,
#services header figure {
	display: block; 
	width: 100%; height: 100%;
	position: absolute; left: 0; top: 0; 
	z-index: -1;
	background: center / cover no-repeat;
}

#about header h2, #about main h3,
#services header h3, #services main h3 {
	font-family: "Arial Black";
	font-size: 1.5rem;
}

#about main,
#services main {
	position: relative;
	line-height: 1.4;
}

#about main > *,
#services main > * {
	margin-left: 1.25rem; margin-right: 1.25rem;
}

#about main .button.close, #about main h3, #about main h3 + p,
#services main .button.close, #services main h3, #services main > p:last-of-type {
	margin-bottom: 1.25rem;
}

#about main > .button.close,
#services main > .button.close {
	margin-top: 2rem;
	position: relative; left: 0; top: 0;
}

/* #about main {
	padding-top: 2.5rem; padding-bottom: 2.5rem;
}

#about main h4 {
	font-family: "Arial Black";
}

#about article {
	max-width: 600px;
	margin-left: auto; margin-right: auto;
}

#about article h4, #about article p {
	line-height: 1.4;
}

#about article h4 {
	margin-top: 0.75rem;
	margin-bottom: 0.4rem;
}

#about article p {
	margin-top: 0.4rem;
}

#about article ul {
	list-style: inside;
}

#about main > .button.close {
	left: 50%; margin-left: calc( -1 * 600px / 2 );
} */

#services main h3, #services main > p {
	margin-right: 20%;
}

#services main h3 {
//	line-height: calc( 40px + 2 * 1px );
}

#services main > p {
	margin-bottom: 0.25rem;
}

/**
 * Sets the vertical distance between sections
 */
#slider, 
#about, 
#services /* , 
#send-email */ {
//	margin-bottom: 8px;
}

/**
 * Gives section's heading, paragraph and button vertical distance
 */
#slider h3, #slider p,
#about header h2, #about header p, 
.service-group header h3, .service-group header p, .service-group main h3, .service-group main p,
#contact-info h3, #contact-info p {
	margin-bottom: 2rem;
}

#slider .content li.slick-slide,
#about figure,
#services header, #services,
#contact-info {
	position: relative;
}

body, #about header {
	color: rgba( 80, 80, 0, 1 );
}

#slider {
	border-bottom-color: rgba( 255, 255, 255, 0 );
}

#slider .button.open, 
#main-nav .button.open,
#about .button.open,
#services header .button.open {
	border-color: rgba( 80, 80, 0, 1 );
}

.button.open:after {
	background-color: rgba( 80, 80, 0, 1 );
}

.button.open:hover {
	color: rgba( 255, 255, 255, 1 );
}

/* #logo, #quick-contact, #main-nav .button.open,
#slider .content, 
#about header,
#services .service-group header, 
#contact-info, #contact-info .random-access button {
	text-shadow: 0 0 1px rgba( 255, 255, 255, 1 );
}

#quick-contact .header:after, 
#slider .button.open, 
#about .button.open, 
#services header .button.open, 
#social-net-links .nav a, 
#contact-info .random-access button:after,
.button.close, 
.button.scroll-to-top  {
	box-shadow: 0 0 1px rgba( 255, 255, 255, 1 );
} */

/* @media screen and ( max-width: 1000px ) {
	
	#about header h2, #about header p, #about header .button.open, #about main > .button.close,
	#services header h3, #services header p, #services header .button.open {
		margin-left: 1.25rem; margin-right: 1.25rem;
	}
	
	#about article {
		margin-left: 1.25rem; margin-right: 1.25rem;
	}
	
	#about main > .button.close {
		left: 0;
	}
	
	#services main h3, #services main > p {
		margin-right: 1.25rem;
	}

}

@media screen and ( max-width: 640px ) {
	
	#services .content li:nth-child( n ) {
		float: none;
		width: auto;
		margin-left: -1.25rem; margin-right: -1.25rem;
	}
	
}

@media screen and ( max-width: 520px ) {
	
	#slider h3,
	#about header h2,  #about main h3,
	#services .service-group header h3, #services .service-group main h3,
	#contact-info h3 {
		font-size: 1.4rem;
	}
	
}

@media screen and ( max-width: 420px ) {
	
	#slider h3,
	#about header h2, #about main h3,
	#services .service-group header h3, #services .service-group main h3,
	#contact-info h3 {
		font-size: 1.25rem;
	}
	
}

@media screen and ( max-width: 320px ) {
	
	#slider h3,
	#about header h2,  #about main h3,
	#services .service-group header h3, #services .service-group main h4,
	#contact-info h3 {
	//	font-size: 1.2rem;
	}
	
} */


/*-----------------------------------------------------------------*/
/*	Main nav
/*-----------------------------------------------------------------*/

/* nav#main-nav {
	// max-width: none; // height: 40px;
	position: relative; z-index: 1;
//	background-color: rgba( 80, 80, 0, 1 );
}

#main-nav .nav li {
	margin: 0 calc( ( 100% - 960px ) / 2 );
}

#main-nav .button.open {
//	left: calc( ( 100% - 960px ) / 2 );
	left: 0; top: 12px;
}

#main-nav .nav a:after {
	left: 0; right: 0;
}

@media screen and ( max-width: 1000px ) {
	
	#main-nav .button.open, #main-nav .nav a:after {
		left: 20px;
	}
	
	#main-nav .nav li {
		margin: 0;
	}
	
	#main-nav .nav a:after {
		right: 20px;
	}
	
} */


/*-----------------------------------------------------------------*/
/*	Quick contact
/*-----------------------------------------------------------------*/

/* #quick-contact {
	display: block;
	position: relative;
}

#quick-contact .quick-contact-items {
	right: 0; // top: auto; bottom: 0;
}

#quick-contact .entry .header:after {
	border: 0;
	box-shadow: unset;
}

#quick-contact .phone .header:after {
	font-size: 100%;
}
	
#quick-contact .quick-contact-items {
	top: 12px; bottom: auto;
}

#quick-contact .header, #quick-contact .main {
	height: 42px; line-height: 42px;
} */


@media screen and ( max-width: 420px ) {
	
	/* Quick contact is positioned at the center */
	/* #quick-contact .email {
		display: none;
	} */
	
}


/*-----------------------------------------------------------------*/
/*	About
/*-----------------------------------------------------------------*/

/* #about article {
	text-align: initial;
} */


/*-----------------------------------------------------------------*/
/*	Services
/*-----------------------------------------------------------------*/

/* .service-group:nth-child( n ) header h3, .service-group:nth-child( n ) header p, .service-group:nth-child( n ) header .button.open {
	transform: none;
}

.service-group:nth-child( n ) header h3, .service-group:nth-child( n ) header p, .service-group:nth-child( n ) header .button.open {
//	margin-right: 1.25rem;
}

@media screen and ( min-width: 961px ) {
	
	.service-group:nth-child( n ) header h3, .service-group:nth-child( n ) header p, .service-group:nth-child( n ) header .button.open {
		margin-right: 8%;
	}
	
}

@media screen and ( max-width: 960px ) {
	
	.service-group:nth-child( n ) header h3, .service-group:nth-child( n ) header p, .service-group:nth-child( n ) header .button.open {
		margin-left: 1.25rem; margin-right: 1.25rem;
	}
	
} */


/*-----------------------------------------------------------------*/
/*	Contact info
-----------------------------------------------------------------*/

#contact-info {
	padding-top: 3.5rem; padding-bottom: 7.5rem;
}

#contact-info h3, #contact-info p  {
	margin-left: 0;
}

#contact-info h3, #contact-info p {
	padding-right: 0;
}

.contact-info-items dl {
	padding: 0.75em; padding-top: 0.25em;
	border: 1px solid rgba( 80, 80, 0, 0.4 ); /* border-left-width: 8px; border-left-color: rgba( 80, 80, 0, 0.9 ); // border: none; */
}

.contact-info-items dl:not( :last-of-type ) {
	margin-right: 0.5em; margin-bottom: 0.5em;
}

.contact-info-items dt {
	text-shadow: none;
}

.contact-info-items dd {
	background-color: transparent;
	text-shadow: none;
}

.contact-info-items dd {
	padding: 0em; padding-left: 0;
}


















