/*-----------------------------------------------------------------*/
/*	LAYOUT
/*-----------------------------------------------------------------*/

footer {
	padding-bottom: 100px;
	position: relative;
}

footer h2, .copyright-data {
	width: 100%; height: 50px; line-height: 50px;
	position: absolute;
}

footer h2 {
	bottom: 50px;
}

.copyright-data {
	bottom: 0;
}


/*-----------------------------------------------------------------*/
/*	TYPOGRAPHY
/*-----------------------------------------------------------------*/

footer {
	font-family: "Arial Black";
	text-transform: uppercase;
	line-height: 1.0;
}

footer h2, .copyright-data {
	font-size: 70%;
	text-align: center;
}


/*-----------------------------------------------------------------*/
/*	COLOR
/*-----------------------------------------------------------------*/

footer {
	color: rgba( 80, 80, 0, 0.75 );
}

footer p {
	color: rgba( 255, 255, 255, 0.7 );
	background-color: rgba( 80, 80, 0, 0.75 );
}


/*-----------------------------------------------------------------*/
/*	IMAGERY
/*-----------------------------------------------------------------*/


/*-----------------------------------------------------------------*/
/*	USER INTERACTIONS
/*-----------------------------------------------------------------*/


/*-----------------------------------------------------------------*/
/*	EFFECTS
/*-----------------------------------------------------------------*/


/*-----------------------------------------------------------------*/
/*	MEDIA QUERIES
/*-----------------------------------------------------------------*/


















