/** 
 * On new slide loading the text lines and the button
 * enter into view sequentially upwards
 */
 
#slider .slide {
	perspective: 200px;
}

#slider .sup-title, #slider .title, #slider .description, #slider .button.open, #slider .cover-image {
	transform: rotateY( -5deg ); transform-origin: -25vw 50%;
	opacity: 0;
}

#slider .slide.current .sup-title, #slider .slide.current .title, #slider .slide.current .description, #slider .slide.current .button.open, #slider .slide.current .cover-image {
	animation-name: rotate-left; animation-duration: 5s; animation-timing-function: ease-out; animation-fill-mode: forwards;
}

#slider .cover-image {
	transform: rotateY( 2deg ); transform-origin: calc( 100% ) 50%;
}

#slider .slide.current .cover-image {
	animation-name: rotate-right; animation-duration: 6s; animation-delay: 0;
}

#slider .slide.current .sup-title, #slider .slide.current .title {
	animation-delay: 0.25s;
}

#slider .slide.current .description {
	animation-delay: 0.5s;
}

#slider .slide.current .button.open {
	animation-delay: 0.75s;
}














