/** 
 * On new slide loading the text lines and the button
 * enter into view sequentially upwards
 */

#slider .sup-title, #slider .title, #slider .description, #slider .button.open {
	transform: scale( 1.8 );
	opacity: 0;
}

#slider .slide.current .sup-title, #slider .slide.current .title, #slider .slide.current .description, #slider .slide.current .button.open, #slider .slide.current .cover-image {
	animation-name: slide-away, fade-in; animation-duration: 0.25s; animation-timing-function: ease-out; animation-fill-mode: forwards;
}

#slider .slide.current .sup-title, #slider .slide.current .title {
	animation-delay: 0s;
}

#slider .slide.current .description {
	animation-delay: 0.15s;
}

#slider .slide.current .button.open {
	animation-delay: 0.3s;
}

#slider .slide.current .cover-image {
	animation-name: pop; animation-duration: 0.35s; animation-delay: 0.45s;
}














