/*-----------------------------------------------------------------*/
/*	LAYOUT
/*-----------------------------------------------------------------*/

#main-nav {
	position: relative; z-index: 1;
}

#main-nav .nav {
	display: flex; flex-direction: column; justify-content: center;
	width: 100%; height: 0; overflow: hidden;
	position: fixed; left: 0; top: 0; z-index: 1;
}

#main-nav li a {
	display: block;
	max-width: 960px; margin-left: auto; margin-right: auto;
	height: 2.5em;
	position: relative;
}

#main-nav .button.open-nav {
	padding: 0;
	position: absolute; left: 0; top: 12px;
}


/*-----------------------------------------------------------------*/
/*	TYPOGRAPHY
/*-----------------------------------------------------------------*/

#main-nav .nav a:after {
	content: "";
}

#main-nav li {
	text-align: center;
}

#main-nav li a {
	font-size: 120%;
}


/*-----------------------------------------------------------------*/
/*	COLOR
/*-----------------------------------------------------------------*/

#main-nav .nav {
	background-color: rgba( 255, 255, 255, 0.95 );
}

#main-nav .nav {
	color: rgba( 80, 80, 0, 0.75 );
}


/*-----------------------------------------------------------------*/
/*	USER INTERACTIONS
/*-----------------------------------------------------------------*/

#main-nav .nav {
	transition: height 0.2s;
}

#main-nav.open .nav {
	height: 100vh;
}

#main-nav li {
	transform: translateY( 50px );
	opacity: 0;
	transition: none;
}

#main-nav.open li {
	transform: translateY( 0 );
	opacity: 1;
	transition-property: transform, opacity; transition-duration: 0.15s;
}

#main-nav .button.open-nav {
	transition: transform 0.4s;
}

#main-nav.open .button.open-nav {
	transform: rotateZ( 90deg );
}

#main-nav.open .button.open-nav:before {
	animation: icon-pop 0.4s forwards;
}

#main-nav li:nth-child( 1 ) {
	transition-delay: 0.4s;
}

#main-nav li:nth-child( 2 ) {
	transition-delay: 0.55s;
}

#main-nav li:nth-child( 3 ) {
	transition-delay: 0.7s;
}

#main-nav li:nth-child( 4 ) {
	transition-delay: 0.85s;
}


/*-----------------------------------------------------------------*/
/*	KEYFRAMES
/*-----------------------------------------------------------------*/

@keyframes button-pop {
	
	0% {
		transform: rotateZ( 0deg );
	}
	
	100% {
		transform: rotateZ( 90deg );
	}
	
}

@keyframes icon-pop {
	
	0% {
		opacity: 1;
	}
	
	100% {
		content: "\f00d";
		opacity: 1;
	}
	
}


/*-----------------------------------------------------------------*/
/*	EFFECTS
/*-----------------------------------------------------------------*/

#main-nav .nav {
	text-shadow: 0 0 1px rgba( 0, 0, 0, 0.85 );
}

#main-nav li a:after {
	display: block;
	position: absolute; z-index: -1;
	bottom: 0; left: 0; right: 0;
	border-bottom: 1px solid;
	opacity: 0.45;
}

#main-nav li:last-child a:after {
	width: 0;
}


/*-----------------------------------------------------------------*/
/*	MEDIA QUERIES
/*-----------------------------------------------------------------*/

@media screen and ( max-width: 1000px ) {
	
	/* #main-nav .button.open, */ #main-nav li a:after {
		left: 1.25rem;
	}
	
	#main-nav li a:after {
		right: 1.25rem;
	}
	
}


















