/*-----------------------------------------------------------------*/
/*	LAYOUT
/*-----------------------------------------------------------------*/

#social-net-links .nav {
	width: 40px;
}

#social-net-links .nav a {
	display: block;
	margin-bottom: 6px;
}


/*-----------------------------------------------------------------*/
/*	TYPOGRAPHY
/*-----------------------------------------------------------------*/


/*-----------------------------------------------------------------*/
/*	COLOR
/*-----------------------------------------------------------------*/


/*-----------------------------------------------------------------*/
/*	IMAGERY
/*-----------------------------------------------------------------*/


/*-----------------------------------------------------------------*/
/*	USER INTERACTIONS
/*-----------------------------------------------------------------*/


/*-----------------------------------------------------------------*/
/*	EFFECTS
/*-----------------------------------------------------------------*/


/*-----------------------------------------------------------------*/
/*	MEDIA QUERIES
/*-----------------------------------------------------------------*/






















