/*-----------------------------------------------------------------*/
/*	LAYOUT
/*-----------------------------------------------------------------*/

#about .main {
	/* padding-top: 2.5rem; */ padding-bottom: 2.5rem;
}

#about article {
	max-width: 600px;
	margin-left: auto; margin-right: auto;
}

/* #about article .sub-title {
	margin-top: 0.75rem;
	margin-bottom: 0.4rem;
}

#about article p {
	margin-top: 0.4rem;
} */

#about article ul {
	list-style: inside;
}

#about .button.close {
	left: 50%; margin-left: calc( -1 * 600px / 2 );
}


/*-----------------------------------------------------------------*/
/*	TYPOGRAPHY
/*-----------------------------------------------------------------*/

#about .main .sub-title {
	font-family: "Arial Black";
}


/*-----------------------------------------------------------------*/
/*	COLOR
/*-----------------------------------------------------------------*/


/*-----------------------------------------------------------------*/
/*	IMAGERY
/*-----------------------------------------------------------------*/


/*-----------------------------------------------------------------*/
/*	USER INTERACTIONS
/*-----------------------------------------------------------------*/


/*-----------------------------------------------------------------*/
/*	EFFECTS
/*-----------------------------------------------------------------*/


/*-----------------------------------------------------------------*/
/*	MEDIA QUERIES
/*-----------------------------------------------------------------*/




















